parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - demo/*
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors: []

includes:
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
